<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading" style="display: flex; justify-content: center">
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="chartData"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="true"
    [timeline]="timeline"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-line-chart>
</div>
