<!-- crypto-modal.component.html -->
<div class="box">
  <div class="popup">
    <h2>Add New Cryptocurrency</h2>
    <a class="close" href="#" (click)="closeModal()">&times;</a>
    <div class="content">
      <select class="crypto-select" [(ngModel)]="selectedCrypto">
        <option *ngFor="let crypto of cryptocurrencies" [value]="crypto">
          {{ crypto }}
        </option>
      </select>
      <button class="add-button" (click)="addNewCrypto()">Add</button>
      <button class="cancel-button" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
