<div class="container">
  <app-tabs></app-tabs>
  <div *ngIf="dataSaved">
    <div *ngIf="!loading">
      <app-chart
        *ngIf="cryptocurrency && cryptocurrency !== 'Description'"
        [selectedCrypto]="cryptocurrency"
      ></app-chart>
      <div>
        <app-exchanger></app-exchanger>
      </div>
      <div>
        <div class="container">
          <ng-container
            *ngIf="cryptocurrency && cryptocurrency !== 'Description'"
          >
            <div
              *ngFor="let asset of getPortfolioKeys()"
              class="portfolio-row"
            ></div>
            <app-portfolio-display
              [selectedCrypto]="cryptocurrency"
            ></app-portfolio-display>
            <button class="delete-button" (click)="deleteTab()">
              Delete Currency
            </button>
          </ng-container>

          <app-default-tab
            *ngIf="!cryptocurrency || cryptocurrency === 'Description'"
          ></app-default-tab>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loading *ngIf="!dataSaved"></app-loading>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
