<div class="container">
  <app-tabs></app-tabs>
  <app-chart [selectedCrypto]="cryptocurrency"></app-chart>
  <div class="portfolio-container">
    <h2>Exchange rates of the day! (USD)</h2>
    <div class="portfolio">
      <ng-container *ngIf="cryptocurrency">
        <div *ngFor="let asset of getPortfolioKeys()" class="portfolio-row">
          <span class="asset-name">{{ asset }}/USD:</span>
          <span class="asset-rate">{{ cryptocurrency[asset] }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
