<!-- default-tab.component.html -->

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="description-container">
        <!-- Center align the logo -->
        <div>
          <div class="logo-container">
            <img
              src="assets/logo.svg"
              alt="Crypts logo"
              id="logo"
              class="img-fluid"
              style="max-width: 100%; height: auto"
            />
          </div>
          <p>
            Welcome to <strong>Cryptocurrency Hub</strong>, your one-stop
            destination for all things related to cryptocurrencies. Whether
            you're a seasoned investor or just getting started, our platform
            provides you with the tools and information you need to navigate the
            exciting world of digital currencies.
          </p>

          <h2>Features:</h2>

          <ol>
            <li>
              <strong>Real-Time Market Data:</strong> Stay up-to-date with the
              latest prices, market trends, and trading volumes for all major
              cryptocurrencies, including Bitcoin, Ethereum, Ripple, and more.
            </li>

            <li>
              <strong>Portfolio Tracker:</strong> Manage your cryptocurrency
              portfolio effortlessly with our intuitive portfolio tracker. Keep
              track of your holdings, monitor gains and losses, and analyze your
              investment performance over time.
            </li>

            <li>
              <strong>Educational Resources:</strong> Learn about blockchain
              technology, cryptocurrency trading strategies, and investment tips
              from our comprehensive library of educational resources. Whether
              you're a beginner or an expert, there's always something new to
              discover.
            </li>

            <li>
              <strong>Community Forums:</strong> Connect with like-minded
              individuals, share insights, and discuss market trends in our
              vibrant community forums. Engage in discussions, ask questions,
              and learn from fellow cryptocurrency enthusiasts.
            </li>

            <li>
              <strong>News and Updates:</strong> Stay informed with the latest
              news, analysis, and updates from the cryptocurrency industry. Get
              breaking news alerts, expert opinions, and in-depth analysis to
              help you make informed investment decisions.
            </li>

            <li>
              <strong>User-Friendly Interface:</strong> Our platform is designed
              with simplicity and usability in mind. Whether you're accessing
              Cryptocurrency Hub from your desktop, tablet, or mobile device,
              you'll enjoy a seamless user experience.
            </li>

            <li>
              <strong>Secure and Reliable:</strong> Rest assured that your data
              and transactions are secure with our advanced encryption and
              security measures. We prioritize the safety and privacy of our
              users' information at all times.
            </li>
          </ol>

          <p>
            Join thousands of users worldwide who rely on Cryptocurrency Hub to
            stay ahead in the fast-paced world of digital currencies. Sign up
            now and embark on your cryptocurrency journey with confidence!
          </p>
          <div class="container">
            <div *ngIf="cryptos" class="mt-5">
              <div id="crypto-container" class="row">
                <div
                  class="col-md-4 mb-3"
                  *ngFor="let crypto of objectKeys(cryptos)"
                  (click)="selectCoin(crypto)"
                  [class.selected]="selectedCoin === crypto"
                >
                  <span class="left">{{ crypto }}</span>
                  <span class="right">{{
                    cryptos[crypto].USD | currency : "USD"
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
