/* Add your CSS styles here */

h1,
h2 {
  text-align: center;
  color: darkblue;
}

#crypto-container {
  background: #f8f9fa;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  flex: 0 0 calc(33.333% - 20px);
  margin: 10px;
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.col-md-4:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.selected {
  background-color: darkblue !important;
  color: #fff !important;
}

.selected:hover {
  background-color: darkblue !important;
}

.exchange-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: darkblue;
}

input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input[type="number"]:focus,
input[type="text"]:focus {
  border-color: darkblue;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: darkblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: darkblue;
}

// .selected-coin-container {
//   text-align: center;
// }

// .selected-coin-details,
// .selected-coin-conversion {
//   opacity: 0;
//   transform: translateY(20px);
//   transition: opacity 0.3s ease, transform 0.3s ease;
// }

// .selected-coin-container.active .selected-coin-details,
// .selected-coin-container.active .selected-coin-conversion {
//   opacity: 1;
//   transform: translateY(0);
// }
